.index{
  background-image: url("images/index.png");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  margin-top: 3em;
}

h5{
  font-family: 'Montserrat-Semi-Bold', sans-serif;
}

.intro{
  text-align: center;

}

.about{
  background-image: url("images/about.png");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
}

#aboutme{
  padding-top: 15%;
  padding-left: 16%;
  padding-right: 19%;
  }

.row{
  background-color: #f0f8ff9c;
}
